{{ define "main" }}
<h1 class="text-center text-primary-950 text-2xl">{{ .Title }}</h1>
{{ range .Pages.ByPublishDate.Reverse }}
  <div class="p-8 border-b-primary-800 border-b-4 mt-4">
    <span class="pr-4 text-2xl text-primary-950 font-extrabold">
      <a class="" href="{{ .RelPermalink }}">{{ .Title }}</a>
    </span>
    <div class="inline-flex">
    {{ range .Params.tags }}
      {{ $href := print (absURL "tags/") (urlize .) }}
      <a class="text-sm bg-secondary-100 text-primary-950 ring-primary-900 mr-4 ring-1 font-bold p-1 rounded-full min-w-[50px]" href="{{ $href }}">{{ . }}</a>
    {{ end }}
    </div>
    <p>{{ .Summary }}</p>
    <br></br>
  </div>
{{ end }}
{{ end }}
