{{ define "main" }}
<h1 class="text-center text-primary-950 text-2xl">{{ .Title }}</h1>

{{ .Scratch.Set "member_label" "staff" }}
{{ .Scratch.Set "section_header" "Staff Members" }}
{{ partial "member_section.html" . }}

{{ .Scratch.Set "member_label" "postdoc" }}
{{ .Scratch.Set "section_header" "Postdoctoral Researchers" }}
{{ partial "member_section.html" . }}

{{ .Scratch.Set "member_label" "student" }}
{{ .Scratch.Set "section_header" "RHD Students" }}
{{ partial "member_section.html" . }}

{{ end }}
