{{/* colour_set can be either primary or secondary */}}
{{ $data := newScratch }}
{{ $colour_set := (.Get "colour_set" | default "primary") }}
{{ $data.Set "bgcol" "bg-secondary-200" }}
{{ if eq $colour_set "primary" }}
{{ $data.Set "bgcol" "bg-primary-200" }}
{{end}}
<div class="justify-center {{ $data.Get "bgcol" }}">
  <section class="max-w-4xl mx-auto">
    <div class="text-center">
        {{ if eq .Page.File.Ext "md" }}
          {{ .Inner | markdownify }}
        {{ else }}
          {{ .Inner | htmlUnescape | safeHTML }}
        {{ end }}
    </div>
  </section>
</div>
