{{ $colset := print (.Get "colour_set" | default "primary") "-colour" }}
{{/* colour_set can be either primary or secondary */}}
<div class="flex justify-center {{ $colset }}">
  <div class="flex-none w-36 h-36">
  </div>
  <section class="grow">
    <div class="text-lg text-center">
        {{ if eq .Page.File.Ext "md" }}
          {{ .Inner | markdownify }}
        {{ else }}
          {{ .Inner | htmlUnescape | safeHTML }}
        {{ end }}
    </div>
  </section>
  <div class="flex-none w-14 h-14">
  </div>
</div>
